@{
    ViewData["Title"] = "Home Page";
}
<form action ="/results" method = "post">
        <p>Enter the Movie: <input type ="text" name = "title"></p>
        <input type = "submit" value = "search">
    </form>
    <h1>Results</h1>
    <p>@TempData["movieInfo"]</p>