<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class = "NavBar">
            <a href="Projects">Projects</a>
            <a href="Home">Home</a>
            <a href="Contact">Contact</a>
        </div>
       <h1>Home</h1>
       <h2>Hi Im David</h2>
       <img src="~/Images/NightKing.jpg">
       <div class = "About">
           <h3>About me</h3><br>
           <p>Im just trying to take over the world. No biggie...</p>
       </div>
    </body>
</html>