<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div>
            <p>Here is Your DojoDachi!!!!</p>
        </div>
        <div>
            <img src="~/Images/Dojodachi.gif">
        </div>
        <div>
            
            <p>Fullness: @ViewBag.fullness</p>
            <p>Happiness: @ViewBag.happiness </p>
            <p>Meals: @ViewBag.meals</p>
            <p>Energy:  @ViewBag.energy</p>
        </div>
        <div>
        <a href="Feed"><button type="button"  class="btn btn-primary" value="FEED">FEED</button></a>
        <a href="Play"><button type="button"  class="btn btn-primary" value="PLAY">PLAY</button></a>
        <a href="Work"><button type="button"  class="btn btn-primary" value="WORK">WORK</button></a>
        <a href="Sleep"><button type="button"  class="btn btn-primary" value="SLEEP">SLEEP</button></a>
</div>
    </body>
