<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div>
            <p>Random Passcode # @ViewBag.Count</p><br>
            <p>@ViewBag.Passcode</p>
            <a href="Home">Generate</a>

        </div>
    </body>
</html>